<p style="color: green"><%= notice %></p>

<%= render @photo %>

<div>
  <%= link_to "Edit this photo", edit_photo_path(@photo) %> |
  <%= link_to "Back to photos", photos_path %>

  <%= button_to "Destroy this photo", @photo, method: :delete %>
</div>
  <p>
    <strong>Titular: </strong>
    <%= @photo.caption.presence || "No caption available" %>  <!-- Si no hay caption, mostrar un texto por defecto -->
  </p>

  <!-- Mostrar los comentarios asociados -->
 <div>
  <strong>Comentarios:</strong>

  <ul>
    <% @photo.comments.each do |comment| %>  <!-- Recorrer cada comentario -->
      <li>
        <strong><%= comment.user.email %>:</strong> <!-- Mostrar el nombre del usuario -->
        <%= comment.content %>  <!-- Mostrar el contenido del comentario -->
      </li>
    <% end %>
  </ul>

  <% if @photo.comments.any? %>  <!-- Verificar si hay comentarios -->
  <% else %>
    <p>No hay comentarios en la publicación.</p>  <!-- Si no hay comentarios -->
  <% end %>
</div>



  <!-- Formulario para agregar un nuevo comentario -->
  
  <%= form_with(model: [@photo, Comment.new], local: true) do |form| %>
    <div class="field">
      <%= form.label :content, "Agregar comentario:" %>
    </div>

    <div class="actions">
      <%= form.text_area :content %>
    </div>

    <div class="div">
      <%= form.submit "Comentar" %>
    </div>
  <% end %>
</div>